#some-clients{
    background-color: var(--White);
    flex-direction: column;
    justify-content: center;
    padding: 20px 10%;
    align-items: center;
    gap: 30px;
}

#some-clients> .content-title{
    color:  var(--Cyan);
}

#some-clients> .content-title{
    color: var(--Violet);
}

.statistics{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.number-box{
    text-align: center;
}

.number-box>h1{
    color: var(--Violet);
    font-weight: 700;
    font-size: 60px;
}

.number-box>small{
    font-size: 14px;
    color: var(--Dark-violet);
}


#feedbacks{
    background-color: var(--Dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
    gap: 30px;
}

#feedbacks> .content-title{
    color: var(--Cyan);
}

@media (max-width: 920px){
  .number-box>h1{
    font-size: 40px;
  }
}


@media (max-width: 650px) {
  .statistics{
        flex-direction: column;
    }
}