#gallery{
    background-color: var(--Dark);
    flex-direction: column;
    padding: 50px 10%;
    gap: 50px;
    align-items: center;
}

#gallery> .content-title{
    color:  var(--Cyan);
}

.grid-gallery {
    display: grid;
    max-width: 930px;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    gap: 10px;
}

.image-box {
    position: relative;
    max-height: 300px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-box:hover .image-info {
    opacity: 1;
}

.image-info> h4{
    font-weight: 600;
}

.image-info> p{
    font-weight: 400;
}

@media(max-width: 700px){
    .grid-gallery{
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }

    .image-box{
        height: 200px;
    }
}

@media (max-width: 560px) {
    .grid-gallery{
        grid-template-columns: repeat(1, 100%);
    }
    .image-box{
        height: 300px;
    }
}