#mentoring{
    background-color: var(--Dark);
    padding: 20px 10%;
    gap: 50px;
    align-items: center;
}

#mentoring> .text-container{
    width: 50%;
    text-align: center;
    padding: 40px;
    max-width: 550px;
}

.form{
    background: linear-gradient(var(--Violet), var(--Cyan));
    display: flex;
    max-width: 550px;
    flex-direction: column;
    padding: 70px;
    gap: 50px;
    position: relative;
    margin-top: -20px;
}

.form>.fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input{
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px 20px;
    width: 100%;
    color: white;
    outline: none;
    font-weight: 300;
    transition: all 0.1s ease-in-out;
}

input::-ms-input-placeholder {
    color: white;
}

input::placeholder {
    color: white;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input:hover{
    background-color: var(--Low-White);
}

#mentoring> .text-container> p{
    font-weight: 300;
    text-align: justify;
}

.errorForms {
    display: none;
    width: 100%;
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    color: var(--Dark);
}

@media(max-width: 1130px){
    #mentoring{
        flex-direction: column;
    }

    #mentoring>.text-container{
        padding: 0;
        width: 100%;
        margin: 0;
    }

}

@media(max-width: 550px){
    .form{
        padding: 10%;
    }
}