#navbar{
    background-color: var(--Dark);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px 10%;
    max-height: 100px;
}

.nav-links{
    display: none;
    gap: 40px;
    align-items: center;
    list-style: none;
    position: inherit;
}

.nav-links>li>a{
    font-size: 16px;
}

.menu{
    cursor: pointer;
    display: none;
    height: 40px;
}

@media (max-width: 820px) {

    .menu{
        display: inherit;
    }

    .nav-links{
        top:0;
        right: 0;
        flex-direction: column;
        position: absolute;
        padding: 50px;
        background-color: var(--Dark);
        margin-top: 100px;
    }
}