@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./modules/buttons.css');
@import url('./modules/navbar.css');
@import url('./modules/hero.css');
@import url('./modules/clients-feedbacks.css');
@import url('./modules/call-to-action.css');
@import url('./modules/portfolio.css');
@import url('./modules/gallery.css');
@import url('./modules/metaverso.css');
@import url('./modules/mentoring-form.css');
@import url('./modules/footer.css');

:root{
    --Dark: #1A171E;
    --Dark-violet: #251B4E;
    --Low-Dark-violet: #251B4E80;
    --Violet: #553DB4;
    --Cyan: #26C5B0;
    --Low-White: #FFFFFF20;
    --White: #FFFFFF;
    --Yellow: #FFC700;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sang-serif;
    color: var(--White);
    font-weight: 500;
    scroll-behavior: smooth;
    transition: all ease-in-out .3s;
}

#navbar, 
#hero,
#some-clients,
#feedbacks,
#portfolio,
#gallery,
#mentoring,
#metaverso,
#footer{
    display: flex;
    overflow: hidden;
}

.title{
    font-size: 64px;
    font-weight: 900;
}

.subtitle{
    font-size: 20px;
    font-weight: 400;
}

.social-media{
    display: flex;
    gap: 30px;
}

.social-media>a>img{
    height: 30px;
    width: 30px;
}

.content-title{
    font-size: 20px;
    font-weight: 600;
}

p{
    font-size: 16px;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--Violet);
}

::-moz-selection { /* Code for Firefox */
    color: var(--White);
    background: var(--Yellow);
}

::selection {
    color: var(--White);
    background: var(--Yellow);
}
